@model Int32
@inject IStringLocalizer<MainBoardController> localizer

<input type="hidden" value="@Model" id="mainBoardId" name="mainBoardId" />
<div class="card">
    <div class="card-header">
        <h6 class="card-title">@localizer["aspect list"]</h6>
        <div class="card-tools">
        </div>
    </div>
    <div class="card-body p-3">
        <div class="row border-bottom border-bottom-2 border-light m-1">
            <div class="col-12">
                <a id="getNewAspectForm" value="@localizer["add aspect"]" class="btn btn-success float-left ml-1 m-2"><i class=" fas fa-pencil-alt m-2"></i>@localizer["add aspect"]</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="AspectTable" class="table table-striped projects">
                </table>
            </div>
        </div>
    </div>
</div>
